<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LauncherActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/launcherName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="raul-s-c.github.io"
                    android:pathPrefix="/japoteacher/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LensCaptureActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/LensTheme" />

        <service
            android:name=".FloatingLensService"
            android:exported="false" />
    </application>
</manifest>
